body {
	margin: 0px;	
}
a:link {
color:#66FFFF;
	font-family:ËÎÌå;
	font-size:16px;
	text-decoration: none;
}
a:active {
	color: #FFFF33;
	font-family:ËÎÌå;
    font-size:16px;
		text-decoration: none;
}
a:visited {
color:#000000;
	font-family:ËÎÌå;
    font-size:16px;
	text-decoration: none;
}
a:hover {
color:#FFFF00;
	font-family:"·ÂËÎ";
	font-size:18px;
	font-weight: bold;
		text-decoration: none;
}

.button_login{
	background-image:url(images/button_login.jpg);
	background-repeat:no-repeat;
	width:67px;
	height:23px;
	color:#990000;
	font-family:"·ÂËÎ";
	letter-spacing:5px;
	border:0px;
}
.button_reset{
	background-image:url(images/button_login.jpg);
	background-repeat:no-repeat;
	width:67px;
	height:23px;
	color:#990000;
	font-family:"??";
	letter-spacing:5px;
	border:0px;
}
