BODY {
	FONT-SIZE: 100%; BACKGROUND-COLOR: #ffffff
}
BODY {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Arial, Tahoma! important
}
DIV {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Arial, Tahoma! important
}
P {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Arial, Tahoma! important
}
TD {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Arial, Tahoma! important
}
TH {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Arial, Tahoma! important
}
PRE {
	FONT-SIZE: 10.5pt; MARGIN: 0px; FONT-FAMILY: courier new, monospaced
}
FIELDSET LEGEND {
	COLOR: #000000
}
A {
	
}
A:link {
	COLOR: #003399
}
A:visited {
	COLOR: #003399
}
A:hover {
	COLOR: #99ccff; TEXT-DECORATION: none
}
A:active {
	COLOR: #99ccff
}
.jive-page-title {
	FONT-WEIGHT: bold; FONT-SIZE: 10.5pt
}
.jive-guest {
	FONT-STYLE: italic! important
}
.nobreak {
	WHITE-SPACE: nowrap
}
.jive-accountbox-old {
	DISPLAY: none
}
#jive-accountbox {
	FONT-SIZE: 12px; FLOAT: right; WIDTH: 48%; TEXT-ALIGN: right
}
#jive-accountbox DD A {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 0px 50%; DISPLAY: block; PADDING-LEFT: 18px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
#jive-accountbox STRONG {
	COLOR: #333
}
#jive-accountbox DL {
	PADDING-RIGHT: 15px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#jive-accountbox DT {
	DISPLAY: block; FLOAT: left
}
#jive-accountbox DD {
	DISPLAY: block; FLOAT: left
}
#jive-accountbox DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
#jive-accountbox DD {
	MARGIN: 0px 0px 0px 1.2em
}
.jive-acc-cp {
	PADDING-LEFT: 18px! important; BACKGROUND: url(../images/preferences-16x16.gif) no-repeat
}
.jive-acc-mail {
	PADDING-LEFT: 18px! important; BACKGROUND: url(../images/mail-16x16.gif) no-repeat
}
.jive-new-pm {
	FONT-WEIGHT: bold; BACKGROUND: url(../images/mail-new-ani-16x16.gif) no-repeat
}
.jive-acc-history {
	PADDING-LEFT: 18px! important; BACKGROUND: url(../images/history.gif) no-repeat
}
.jive-acc-login {
	PADDING-LEFT: 18px! important; BACKGROUND: url(../images/login-16x16.gif) no-repeat
}
.jive-acc-logout {
	PADDING-LEFT: 18px! important; BACKGROUND: url(../images/logout-16x16.gif) no-repeat
}
.jive-acc-help {
	PADDING-LEFT: 0px! important; BACKGROUND: none transparent scroll repeat 0% 0%
}
.jive-buttons .jive-icon {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.jive-buttons .jive-icon-label {
	PADDING-RIGHT: 1em; PADDING-LEFT: 3px; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; FONT-FAMILY: Arial, Tahoma; WHITE-SPACE: nowrap
}
#jive-categorypage .jive-buttons {
	PADDING-BOTTOM: 3px
}
.jive-search-form TR {
	VERTICAL-ALIGN: top
}
.jive-search-form .jive-search-label {
	PADDING-TOP: 4px
}
.jive-search-form LABEL {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Tahoma
}
.jive-search-form INPUT {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Tahoma
}
.jive-search-form SELECT {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Tahoma
}
.jive-search-form TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
#jive-searchpage .jive-search-form TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.jive-search-results .jive-table THEAD TH {
	TEXT-ALIGN: left
}
.jive-search-results {
	MARGIN-BOTTOM: 3px
}
.jive-search-results .jive-search-noresults {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 1em; PADDING-TOP: 1em; FONT-STYLE: italic
}
#jive-searchpage OL {
	PADDING-LEFT: 2em; MARGIN-LEFT: 0px
}
#jive-searchpage .jive-result-info {
	FONT-SIZE: 11px; COLOR: #666; FONT-FAMILY: Arial, Tahoma
}
#jive-searchpage .jive-body {
	PADDING-RIGHT: 0em; PADDING-LEFT: 0.5em; MARGIN-BOTTOM: 1.5em; PADDING-BOTTOM: 0em; PADDING-TOP: 0em
}
#jive-searchpage .jive-result-link {
	FONT-WEIGHT: bold
}
.jive-search-results .jive-table SELECT {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; FONT-FAMILY: Arial, Tahoma
}
#jive-usersearchpage .querybox {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 6px; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: #eee
}
#jive-usersearchpage .filterbox {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; VERTICAL-ALIGN: top; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 6px; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: #eee
}
#jive-usersearchpage .filterbox .filterOption {
	FONT-SIZE: 9pt; WIDTH: 100%; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
#jive-usersearchpage .querybox LABEL {
	FONT-WEIGHT: bold
}
.filterbox LABEL {
	FONT-WEIGHT: bold
}
#jive-usersearchpage .resultbox {
	VERTICAL-ALIGN: top
}
#jive-usersearchpage .resultbox .user-table {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
#jive-usersearchpage .resultbox .user-table THEAD {
	HEIGHT: 30px; BACKGROUND-COLOR: #eee; TEXT-ALIGN: left
}
#jive-usersearchpage .resultbox .user-table .header-table {
	FONT-WEIGHT: bold
}
#jive-usersearchpage .resultbox .user-table .user-column {
	BORDER-TOP: #ccc 1px solid
}
#jive-usersearchpage .resultbox-odd {
	BACKGROUND-COLOR: #fff
}
#jive-usersearchpage .resultbox-even {
	BACKGROUND-COLOR: #eee
}
#jive-usersearchpage #profile TR TD {
	FONT-WEIGHT: bold
}
#jive-usersearchpage #profile-details TR TD {
	COLOR: #666
}
#jive-searchpage DIV#searchtabs {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: transparent
}
#jive-usersearchpage DIV#searchtabs {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: transparent
}
#jive-searchpage DIV#searchtabs A {
	TEXT-DECORATION: none
}
#jive-usersearchpage DIV#searchtabs A {
	TEXT-DECORATION: none
}
.jive-error-message {
	DISPLAY: block; FONT-WEIGHT: bold; COLOR: #900
}
.jive-error-message .jive-icon {
	PADDING-RIGHT: 6px
}
.jive-error-message .jive-icon-label {
	FONT-SIZE: 11px; COLOR: #f00; FONT-FAMILY: Arial, Tahoma
}
.jive-error-text {
	FONT-SIZE: 11px; COLOR: #f00; FONT-FAMILY: Arial, Tahoma
}
.jive-error-message .jive-icon-label {
	PADDING-TOP: 1px
}
.jive-success-message .jive-icon {
	PADDING-RIGHT: 6px
}
.jive-success-message .jive-icon-label {
	FONT-SIZE: 11px; COLOR: #090; FONT-FAMILY: Arial, Tahoma
}
.jive-success-text {
	FONT-SIZE: 11px; COLOR: #090; FONT-FAMILY: Arial, Tahoma
}
.jive-success-message .jive-icon-label {
	PADDING-TOP: 1px
}
.jive-infobox TABLE {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: #eee
}
.jive-infobox LI {
	LIST-STYLE-IMAGE: url(/images/arrow-bullet-10x10.gif); MARGIN-LEFT: 2em
}
.jive-infobox TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; FONT-FAMILY: Arial, Tahoma
}
.jive-infobox TH {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; FONT-FAMILY: Arial, Tahoma
}
.jive-infobox UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0.2em
}
.jive-infobox .unans {
	FONT-WEIGHT: bold; COLOR: #f00
}
.jive-infobox .callout {
	FONT-WEIGHT: bold; COLOR: #f00
}
.unans {
	FONT-WEIGHT: bold; COLOR: #f00
}
.jive-infobox .ans {
	FONT-WEIGHT: bold; COLOR: #060
}
.ans {
	FONT-WEIGHT: bold; COLOR: #060
}
#jive-footer TD {
	BORDER-TOP: #cccccc 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 0.7em; PADDING-TOP: 5px; TEXT-ALIGN: center
}
#jive-footer TD A {
	COLOR: #666; TEXT-DECORATION: none
}
#jive-footer TD A:hover {
	TEXT-DECORATION: underline
}
#jive-header {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; BACKGROUND: url(../images/header-right.png) no-repeat 100% 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 15px
}
#jive-header H1 {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; BACKGROUND: url(../images/header-left.png) no-repeat 0px 0px; PADDING-BOTTOM: 0px; MARGIN: -15px 0px 0px -15px; FONT: bold 1.5em Arial, sans-serif; COLOR: #fff; PADDING-TOP: 15px; TEXT-DECORATION: none
}
#jive-header P {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 15px; BACKGROUND: url(../images/header-left.png) no-repeat 0px 100%; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px -15px; PADDING-TOP: 0px
}
#jive-header EM {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: url(../images/header-right.png) no-repeat 100% 100%; PADDING-BOTTOM: 15px; PADDING-TOP: 4px; FONT-STYLE: normal
}
#jive-breadcrumbs EM {
	FONT-STYLE: normal
}
#jive-breadcrumbs {
	FONT-SIZE: 0.86em; COLOR: #cad4e0; DIRECTION: ltr
}
#jive-header #jive-breadcrumbs {
	PADDING-TOP: 4px
}
#jive-header #jive-breadcrumbs A {
	COLOR: #cad4e0; TEXT-DECORATION: none
}
#jive-header #jive-breadcrumbs A:hover {
	COLOR: #eeeeee
}
#jive-header #jive-breadcrumbs IMG {
	MARGIN: 0.25em
}
.jive-paginator {
	DIRECTION: ltr
}
.jive-paginator {
	FONT-SIZE: 9pt; FONT-FAMILY: Arial, Tahoma! important
}
.jive-paginator A {
	FONT-SIZE: 9pt; FONT-FAMILY: Arial, Tahoma! important
}
.jive-paginator {
	FONT-WEIGHT: bold
}
.jive-paginator A {
	FONT-WEIGHT: bold
}
.jive-message-list .jive-paginator {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FONT-FAMILY: Arial, Tahoma
}
.jive-message-list .jive-paginator A {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FONT-FAMILY: Arial, Tahoma
}
.jive-paginator A {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BORDER-LEFT: #fff 1px solid; BORDER-BOTTOM: #fff 1px solid; TEXT-DECORATION: none
}
.jive-paginator A:hover {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; COLOR: #000; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: #ffc; TEXT-DECORATION: none
}
.jive-paginator .jive-current {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; COLOR: #000; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: #eee; TEXT-DECORATION: none
}
.jive-message-list-footer {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; FONT-FAMILY: Arial, Tahoma
}
.jive-message-list-footer TD {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; FONT-FAMILY: Arial, Tahoma
}
.jive-message-list-footer A {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; FONT-FAMILY: Arial, Tahoma
}
.jive-message-list-footer .jive-paginator-bottom {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; FONT-FAMILY: Arial, Tahoma
}
.jive-message-list-footer .jive-paginator-bottom A {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; FONT-FAMILY: Arial, Tahoma
}
.jive-thread-row-paginator {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; FONT-FAMILY: Arial, Tahoma
}
.jive-thread-row-paginator A {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; FONT-FAMILY: Arial, Tahoma
}
.jive-thread-row-paginator {
	PADDING-LEFT: 1em; DIRECTION: ltr
}
.jive-description {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Tahoma
}
.jive-legend .jive-icon-label {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Tahoma
}
.jive-legend .jive-icon-label {
	PADDING-LEFT: 5px
}
.jive-legend .jive-icon {
	PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.jive-table {
	WIDTH: 100%
}
.jive-table TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.jive-table TH {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.jive-table TD {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #cccccc 0px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #cccccc 0px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #cccccc 1px solid
}
.jive-table TABLE TABLE {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.jive-table TABLE TABLE TD {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.jive-table TABLE TABLE TH {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.jive-table THEAD TH {
	BORDER-TOP: #336699 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; BORDER-BOTTOM: #336699 1px solid; FONT-FAMILY: Arial, Tahoma; BACKGROUND-COLOR: #4a74a7; TEXT-ALIGN: center
}
.jive-table THEAD .jive-first {
	BORDER-LEFT: #666 1px solid
}
.jive-table THEAD .jive-last {
	BORDER-RIGHT: #666 1px solid
}
.jive-table THEAD .jive-first {
	BORDER-LEFT: #666 1px solid
}
.jive-table THEAD .jive-last {
	BORDER-RIGHT: #666 1px solid
}
.jive-table THEAD .jive-first-last {
	BORDER-RIGHT: #666 1px solid; BORDER-LEFT: #666 1px solid
}
.jive-table TBODY .jive-first-last {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid
}
.jive-table TFOOT .jive-first-last {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid
}
.jive-table TBODY .jive-first {
	BORDER-LEFT: #cccccc 1px solid
}
.jive-table TBODY .jive-category-name {
	BORDER-LEFT: #cccccc 1px solid
}
.jive-table TFOOT .jive-first {
	BORDER-LEFT: #cccccc 1px solid
}
#jive-usersettingspage .jive-table TBODY .jive-label {
	BORDER-LEFT: #cccccc 1px solid
}
#jive-guestsettingspage .jive-table TBODY .jive-label {
	BORDER-LEFT: #cccccc 1px solid
}
#jive-profilepage .jive-table TBODY .jive-label {
	BORDER-LEFT: #cccccc 1px solid
}
.jive-watchlist .jive-watch-message {
	BORDER-LEFT: #cccccc 1px solid
}
.jive-table TFOOT TD {
	BORDER-TOP: #aaa 1px solid; FONT-SIZE: 11px; FONT-FAMILY: Arial, Tahoma; BACKGROUND-COLOR: #dddddd
}
.jive-table .jive-odd {
	BACKGROUND-COLOR: #eeeeee
}
.jive-table .jive-even {
	BACKGROUND-COLOR: #ffffff
}
.jive-table TFOOT INPUT {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Tahoma
}
.jive-table TFOOT SELECT {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Tahoma
}
.jive-table .jive-active {
	BACKGROUND-COLOR: #ffc
}
.jive-table .jive-active TD {
	BORDER-BOTTOM: #999 1px solid
}
.jive-table .jive-active TH {
	BORDER-BOTTOM: #999 1px solid
}
.jive-form-table TH {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.jive-form-table TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.jive-table .jive-messagebox {
	BORDER-TOP: #cccccc 1px solid
}
.jive-messagebox-this {
	BACKGROUND-COLOR: #ffe
}
.jive-messagebox-parent {
	BACKGROUND-COLOR: #fee
}
.jive-messagebox-child {
	BACKGROUND-COLOR: #efe
}
#jive-reply-tree .jive-table .jive-current TD {
	VERTICAL-ALIGN: middle; BACKGROUND-COLOR: #ffffcc
}
#jive-reply-tree .jive-table .jive-current A {
	FONT-WEIGHT: bold
}
.jive-message-body {
	BORDER-TOP: #ccc 1px solid; PADDING-BOTTOM: 2em; OVERFLOW: auto; PADDING-TOP: 1em
}
.jive-portlet-box {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; MARGIN-BOTTOM: 1em; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.jive-portlet-box THEAD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.jive-portlet-box THEAD TH {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; FONT-FAMILY: Arial, Tahoma
}
.jive-portlet-box TBODY TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; FONT-FAMILY: Arial, Tahoma
}
.jive-portlet-box THEAD TH {
	FONT-WEIGHT: bold; COLOR: #000000; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #eeeeee; TEXT-ALIGN: left
}
.jive-portlet-box TBODY TD {
	VERTICAL-ALIGN: top
}
.jive-portlet-box LABEL {
	PADDING-TOP: 2px
}
.jive-portlet-box .jive-status-legend-groups .jive-first-row {
	BORDER-TOP: #cccccc 1px solid
}
.jive-portlet-box .jive-status-legend-points .jive-first-row {
	BORDER-TOP: #cccccc 1px solid
}
.jive-forum-list .jive-table .jive-category-name {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000; FONT-FAMILY: arial, helvetica, sans-serif; BACKGROUND-COLOR: #eee
}
.jive-category-name .jive-description {
	FONT-WEIGHT: normal
}
.jive-forum-list .jive-forum-name A {
	FONT-WEIGHT: bold
}
.jive-forum-list .jive-forum-name .jive-description A {
	FONT-WEIGHT: normal
}
.jive-forum-list .jive-table .jive-category-name A {
	COLOR: #000; TEXT-DECORATION: none
}
.jive-forum-list .jive-table .jive-category-name A:hover {
	TEXT-DECORATION: underline
}
.jive-forum-list .jive-table .jive-even {
	BACKGROUND-COLOR: #ffffff
}
.jive-forum-list .jive-table .jive-odd {
	BACKGROUND-COLOR: #ffffff
}
.jive-forum-list .jive-table .jive-view-count {
	TEXT-ALIGN: center
}
.jive-forum-list .jive-table .jive-msg-count {
	TEXT-ALIGN: center
}
.jive-thread-list .jive-table .jive-view-count {
	TEXT-ALIGN: center
}
.jive-thread-list .jive-table .jive-msg-count {
	TEXT-ALIGN: center
}
.jive-author {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Tahoma
}
.jive-author-pageuser {
	FONT-WEIGHT: bold
}
.jive-author-fullname {
	COLOR: #666
}
.jive-thread-list THEAD .jive-forum-name {
	COLOR: #fff
}
.jive-thread-list THEAD .jive-date {
	COLOR: #fff
}
.jive-forum-list .jive-table .jive-last-post {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Tahoma
}
.jive-thread-list .jive-table .jive-last-post {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Tahoma
}
.jive-table .jive-date {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Tahoma
}
.jive-thread-list .jive-forum-name {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; FONT-SIZE: 11px; FONT-FAMILY: Arial, Tahoma
}
.jive-message-list {
	MARGIN-BOTTOM: 0.5em
}
.jive-message-list .jive-table THEAD TH {
	FONT-WEIGHT: normal; TEXT-ALIGN: left
}
.jive-message-list .jive-table THEAD TH A {
	FONT-WEIGHT: normal; COLOR: #ffffff
}
.jive-message-list .jive-table .jive-paginator A {
	BORDER-RIGHT: #4a74a7 1px solid; BORDER-TOP: #4a74a7 1px solid; BORDER-LEFT: #4a74a7 1px solid; BORDER-BOTTOM: #4a74a7 1px solid
}
.jive-message-list .jive-table .jive-paginator A:hover {
	BORDER-RIGHT: #336699 1px solid; BORDER-TOP: #336699 1px solid; BORDER-LEFT: #336699 1px solid; COLOR: #000; BORDER-BOTTOM: #336699 1px solid; BACKGROUND-COLOR: #ffc
}
.jive-message-list .jive-table .jive-paginator .jive-current {
	BORDER-RIGHT: #336699 1px solid; BORDER-TOP: #336699 1px solid; BORDER-LEFT: #336699 1px solid; COLOR: #000; BORDER-BOTTOM: #336699 1px solid; BACKGROUND-COLOR: #eee
}
.jive-message-list .jive-table .jive-subject {
	FONT-WEIGHT: bold
}
.jive-status-level-image {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
.jive-info-message {
	MARGIN-BOTTOM: 1em
}
.jive-info-message TBODY TD {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Tahoma
}
.jive-info-message TBODY TD A {
	FONT-WEIGHT: normal
}
.jive-info-message .jive-icon {
	PADDING-RIGHT: 6px
}
#jive-info-message {
	BORDER-RIGHT: #d9b04c 1px solid; BORDER-TOP: #d9b04c 1px solid; MARGIN-TOP: 5px; MARGIN-BOTTOM: 5px; BORDER-LEFT: #d9b04c 1px solid; BORDER-BOTTOM: #d9b04c 1px solid; BACKGROUND-COLOR: #ffe9b2; moz-border-radius: 3px
}
.jive-search-result .jive-hilite {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #ff0
}
.jive-faq-answer {
	FONT-WEIGHT: bold
}
.jive-login-form {
	WIDTH: 60%
}
.jive-login-form .jive-table .jive-label {
	PADDING-RIGHT: 1em; WIDTH: 30%; TEXT-ALIGN: right
}
.jive-login-form TABLE {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.jive-login-form TD {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.jive-profile .jive-table THEAD TH {
	TEXT-ALIGN: left
}
.jive-avatar {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; MARGIN-TOP: 1px; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.jive-avatar-box {
	PADDING-RIGHT: 2em; PADDING-LEFT: 0em; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em
}
.jive-avatar-table IMG {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.jive-avatar-table IMG:hover {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; BORDER-LEFT: #000 1px solid; BORDER-BOTTOM: #000 1px solid
}
#jive-pollpage .jive-table {
	WIDTH: 400px
}
#jive-pollpage .jive-table TABLE {
	WIDTH: 100%
}
.jive-poll-results .jive-total TD {
	BORDER-TOP: #cccccc 1px solid
}
.jive-poll-results .jive-label {
	FONT-WEIGHT: bold
}
#jive-frontpage .jive-search-form TR {
	VERTICAL-ALIGN: middle
}
#jive-postpage .jive-fieldset DIV {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; MARGIN: 0px; PADDING-TOP: 0.5em
}
.jive-fieldset {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #cccccc 1px solid; moz-border-radius: 3px
}
#jive-postpage .jive-rating-buttons {
	WHITE-SPACE: nowrap
}
#jive-post-helpbox {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 1em; BORDER-LEFT: #cccccc 1px solid; WIDTH: 200px; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 1px solid
}
#jive-post-helpbox TH {
	BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #ddd; TEXT-ALIGN: left
}
#jive-post-helpbox TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; FONT-FAMILY: Arial, Tahoma
}
#jive-post-helpbox TH {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; FONT-FAMILY: Arial, Tahoma
}
#jive-post-bodybox {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #e0e5e9; moz-border-radius: 3px
}
#editor-tabs {
	BACKGROUND-COLOR: #e8f1f8
}
.jive-content-snip-tags {
	PADDING-LEFT: 16px; FONT-SIZE: 9pt; BACKGROUND: url(../images/jive-icon-tag-12x12.gif) no-repeat left 50%; COLOR: #666; MARGIN-RIGHT: 12px
}
.jive-content-tags {
	CLEAR: both; PADDING-LEFT: 16px; FONT-SIZE: 9pt; BACKGROUND: url(../images/jive-icon-tag-12x12.gif) no-repeat left 50%; COLOR: #666
}
.jive-tags-edit {
	PADDING-LEFT: 10px
}
.jive-compose-tags {
	CLEAR: both; BORDER-RIGHT: #d5e5f1 1px solid; BORDER-TOP: #d5e5f1 1px solid; MARGIN: 0px 0px 15px; BORDER-LEFT: #d5e5f1 1px solid; WIDTH: 100%; BORDER-BOTTOM: #d5e5f1 1px solid; BACKGROUND-COLOR: #e8f1f8
}
.jive-compose-tags .jive-compose-tags-container {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.jive-compose-tags .tag_directions {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; COLOR: gray; PADDING-TOP: 5px
}
.jive-compose-tags H4 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FONT-SIZE: 10.5pt; PADDING-BOTTOM: 0px; MARGIN: 0px 5px 5px 0px; PADDING-TOP: 0px
}
.jive-compose-tags INPUT {
	CLEAR: both; FONT-SIZE: 9pt; MARGIN: 5px 0px 0px; WIDTH: 95%
}
.jive-compose-tags STRONG {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 1px; FONT-SIZE: 9pt; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 10px
}
.jive-tag-selected {
	BACKGROUND-COLOR: #d5e5f1
}
.jive-messagebox .jive-compose-tags {
	MARGIN-TOP: 5px
}
.jive-tagset-popularity0 A {
	FONT-SIZE: 9pt; COLOR: #8398c4
}
.jive-tagset-popularity1 A {
	FONT-SIZE: 9pt; COLOR: #6e87ba
}
.jive-tagset-popularity2 A {
	FONT-SIZE: 10.5pt; COLOR: #5e78ad
}
.jive-tagset-popularity3 A {
	FONT-SIZE: 9pt; COLOR: #4d6aa3
}
.jive-tagset-popularity4 A {
	FONT-SIZE: 10.5pt; COLOR: #3c5993
}
.jive-tagset-popularity5 A {
	FONT-SIZE: 9pt; COLOR: #34518a
}
.jive-tagset-popularity6 A {
	FONT-SIZE: 10.5pt; COLOR: #2a4882
}
.jive-tagset-popularity7 A {
	FONT-SIZE: 9pt; COLOR: #23427d
}
.jive-tagset-popularity8 A {
	FONT-SIZE: 10.5pt; COLOR: #17346c
}
.jive-tagset-popularity9 A {
	FONT-SIZE: 9pt; COLOR: #152f61
}
.jive-sidebar-populartags {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; COLOR: #333; PADDING-TOP: 0px
}
.jive-sidebar-populartags UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 6px 0px 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.jive-sidebar-populartags UL LI {
	PADDING-RIGHT: 0px; DISPLAY: inline! important; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 22px; TEXT-DECORATION: none
}
.jive-sidebar-populartags UL LI A {
	MARGIN-LEFT: 3px; TEXT-DECORATION: none
}
.jive-sidebar-populartags UL LI A:hover {
	TEXT-DECORATION: underline
}
.jive-sidebar-populartags SPAN {
	FONT-SIZE: 11px; FLOAT: right
}
.jive-tagset-popularity0 A {
	LINE-HEIGHT: 16pt
}
.jive-tagset-popularity1 A {
	LINE-HEIGHT: 16pt
}
.jive-tagset-popularity2 A {
	LINE-HEIGHT: 16pt
}
.jive-tagset-popularity3 A {
	LINE-HEIGHT: 16pt
}
.jive-tagset-popularity4 A {
	LINE-HEIGHT: 16pt
}
.jive-tagset-popularity5 A {
	LINE-HEIGHT: 16pt
}
.jive-tagset-popularity6 A {
	LINE-HEIGHT: 16pt
}
.jive-tagset-popularity7 A {
	LINE-HEIGHT: 16pt
}
.jive-tagset-popularity8 A {
	LINE-HEIGHT: 16pt
}
.jive-tagset-popularity9 A {
	LINE-HEIGHT: 16pt
}
#jive-postpage TEXTAREA {
	FONT-SIZE: 9pt; FONT-FAMILY: Arial, Tahoma! important
}
#jive-file-list {
	PADDING-RIGHT: 0px; DISPLAY: none; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 7px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 5px
}
#jive-file-list {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FONT-FAMILY: Arial, Tahoma
}
#jive-file-list DIV {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FONT-FAMILY: Arial, Tahoma
}
#jive-add-attachment {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.jive-post-form TABLE {
	WIDTH: 100%
}
.jive-post-form TABLE TD.jive-label {
	WIDTH: 1%
}
.jive-post-form .jive-post-form-help {
	PADDING-RIGHT: 0px; PADDING-LEFT: 18px; BACKGROUND: url(../images/help-16x16.gif) no-repeat 0px 0px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
#jive-edit-by-box {
	WIDTH: 100%
}
.jive-post-form .jive-attach-text {
	PADDING-RIGHT: 4px; BACKGROUND-POSITION: left 50%; PADDING-LEFT: 12px; BACKGROUND-IMAGE: url(../images/attach-7x11.gif); PADDING-BOTTOM: 4px; PADDING-TOP: 4px; BACKGROUND-REPEAT: no-repeat
}
#textEditorResize {
	BORDER-RIGHT: #cccccc 1px solid; MARGIN: 0px; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; WHITE-SPACE: nowrap; HEIGHT: 21px
}
.textareaResize {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FLOAT: right; BACKGROUND-IMAGE: url(/images/resize-grabber.gif); BORDER-LEFT: 0px; WIDTH: 11px; CURSOR: se-resize; BORDER-BOTTOM: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
#textEditorResize {
	BORDER-TOP: #ccc 1px solid
}
.textareaResizeBox {
	BORDER-RIGHT: gray 1px dotted; PADDING-RIGHT: 0px; BORDER-TOP: gray 1px dotted; DISPLAY: none; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: gray 1px dotted; WIDTH: 1px; PADDING-TOP: 0px; BORDER-BOTTOM: gray 1px dotted; HEIGHT: 1px
}
#jive-markup-help {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; MARGIN-LEFT: 10px; BORDER-LEFT: #ccc 1px solid; WIDTH: 225px; BORDER-BOTTOM: #ccc 1px solid; moz-border-radius: 3px
}
#jive-markup-help TH {
	FONT-SIZE: 8pt; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
#jive-markup-help TD {
	FONT-SIZE: 8pt; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
#jive-markup-help TH {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: #eee
}
#jive-markup-help TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
#jive-markup-help .jive-inner-table TH {
	BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: #fff; TEXT-ALIGN: left
}
#jive-markup-help H1 {
	MARGIN: -7px 0px; COLOR: #999
}
#jive-markup-help H2 {
	MARGIN: -7px 0px; COLOR: #999
}
#jive-markup-help H3 {
	MARGIN: -7px 0px; COLOR: #999
}
#jive-markup-help H4 {
	MARGIN: -7px 0px; COLOR: #999
}
#jive-markup-help H5 {
	MARGIN: -7px 0px; COLOR: #999
}
#jive-markup-help H6 {
	MARGIN: -7px 0px; COLOR: #999
}
#jive-markup-help HR {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#jive-helppage LI {
	PADDING-BOTTOM: 0.5em
}
.jive-rate-button {
	BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #aaa 1px solid; PADDING-LEFT: 1px; FONT-WEIGHT: normal; FONT-SIZE: 9pt; PADDING-BOTTOM: 1px; MARGIN: 1px; BORDER-LEFT: #aaa 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #aaa 1px solid; FONT-FAMILY: verdana; moz-border-radius: 3px
}
.jive-helpful-rating TD {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Tahoma
}
#jive-forumpage .jive-search-form FORM {
	DISPLAY: inline
}
#jive-frontpage .jive-portlet-box {
	MARGIN-LEFT: 1em
}
#jive-categorypage .jive-portlet-box {
	MARGIN-LEFT: 1em
}
#jive-forumpage .jive-portlet-box {
	MARGIN-LEFT: 1em
}
#jive-flatpage .jive-portlet-box {
	MARGIN-LEFT: 1em
}
#jive-threadedpage .jive-portlet-box {
	MARGIN-LEFT: 1em
}
#jive-treepage .jive-portlet-box {
	MARGIN-LEFT: 1em
}
#jive-rsspage .jive-portlet-box {
	MARGIN-LEFT: 1em
}
.jive-portlet-info-box {
	MARGIN-LEFT: 1em
}
#jive-forumpage .jive-thread-list .jive-table TR {
	VERTICAL-ALIGN: middle
}
#jive-categorypage .jive-thread-list .jive-table TR {
	VERTICAL-ALIGN: middle
}
.jive-spell-error-current {
	COLOR: #f00; BORDER-BOTTOM: #f00 2px dotted
}
.jive-spell-error {
	COLOR: #f00; BORDER-BOTTOM: #f00 2px dotted
}
.jive-spell-error-current {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #eee
}
#jive-spellpage .jive-table .jive-spell-button {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-SIZE: 9pt; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; FONT-FAMILY: verdana,arial,helvetica,sans-serif; BACKGROUND-COLOR: #eee
}
#jive-spell-markup-div {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 1em; PADDING-TOP: 1em
}
.jive-link-forum {
	PADDING-RIGHT: 0px; PADDING-LEFT: 22px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.jive-link-thread {
	PADDING-RIGHT: 0px; PADDING-LEFT: 22px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.jive-link-message {
	PADDING-RIGHT: 0px; PADDING-LEFT: 22px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.jive-link-email {
	PADDING-RIGHT: 20px; BACKGROUND-POSITION: right bottom; PADDING-LEFT: 0px
}
.jive-link-profile {
	PADDING-RIGHT: 20px; BACKGROUND-POSITION: right bottom; PADDING-LEFT: 0px
}
.jive-link-attachment {
	PADDING-RIGHT: 20px; BACKGROUND-POSITION: right bottom; PADDING-LEFT: 0px
}
.jive-link-forum {
	PADDING-RIGHT: 20px; BACKGROUND-POSITION: right bottom; PADDING-LEFT: 0px
}
.jive-link-thread {
	PADDING-RIGHT: 20px; BACKGROUND-POSITION: right bottom; PADDING-LEFT: 0px
}
.jive-link-message {
	PADDING-RIGHT: 20px; BACKGROUND-POSITION: right bottom; PADDING-LEFT: 0px
}
.jive-link-email {
	BACKGROUND: url(../images/jive-icon-email-16x16.gif) no-repeat left top
}
.jive-link-profile {
	BACKGROUND: url(../images/jive-icon-members-16x16.gif) no-repeat left top
}
.jive-link-attachment {
	BACKGROUND: url(../images/attach-7x11.gif) no-repeat left top
}
.jive-link-forum {
	BACKGROUND: url(../images/jive-icon-forum-16x16.gif) no-repeat left top
}
.jive-link-thread {
	BACKGROUND: url(../images/jive-icon-forum-16x16.gif) no-repeat left top
}
.jive-link-message {
	BACKGROUND: url(../images/jive-icon-forum-16x16.gif) no-repeat left top
}
CODE.jive-xml {
	FONT-FAMILY: monospace
}
CODE.jive-xml .jive-xml-tag {
	FONT-WEIGHT: bold; COLOR: navy
}
CODE.jive-xml .jive-xml-comment {
	COLOR: darkgreen
}
CODE.jive-xml .jive-xml-quote {
	COLOR: red
}
CODE.jive-xml .jive-xml-keyword {
	FONT-WEIGHT: bold; COLOR: navy
}
CODE.jive-sql {
	FONT-FAMILY: monospace
}
CODE.jive-sql .jive-sql-object {
	FONT-WEIGHT: bold; COLOR: navy
}
CODE.jive-sql .jive-sql-comment {
	COLOR: darkgreen
}
CODE.jive-sql .jive-sql-quote {
	COLOR: red
}
CODE.jive-sql .jive-sql-keyword {
	FONT-WEIGHT: bold; COLOR: navy
}
.jive-quote {
	OVERFLOW: auto
}
.jive-pre {
	OVERFLOW: auto
}
.jive-pre {
	PADDING-RIGHT: 10px; PADDING-LEFT: 1em; PADDING-BOTTOM: 10px; MARGIN: 1em 2em 0.5em; PADDING-TOP: 10px; BACKGROUND-COLOR: #eee
}
.jive-quote {
	PADDING-RIGHT: 10px; PADDING-LEFT: 1em; PADDING-BOTTOM: 10px; MARGIN: 1em 2em 0.5em; COLOR: #333; PADDING-TOP: 10px; FONT-STYLE: italic; BACKGROUND-COLOR: #eee
}
.jive-quote {
	BORDER-RIGHT: #eee 1px solid; BORDER-TOP: #eee 1px solid; BACKGROUND: url(../images/quote-background-1.gif); BORDER-LEFT: #ccc 2px solid; BORDER-BOTTOM: #eee 1px solid
}
.jive-pre {
	BORDER-RIGHT: #eee 1px solid; BORDER-TOP: #eee 1px solid; BACKGROUND: url(../images/quote-background-1.gif); BORDER-LEFT: #ccc 2px solid; BORDER-BOTTOM: #eee 1px solid
}
.jive-quote .jive-quote {
	BORDER-RIGHT: #eef 1px solid; BORDER-TOP: #eef 1px solid; BACKGROUND: url(../images/quote-background-2.gif); BORDER-LEFT: #ccf 2px solid; BORDER-BOTTOM: #eef 1px solid
}
.jive-quote .jive-quote .jive-quote {
	BORDER-RIGHT: #efe 1px solid; BORDER-TOP: #efe 1px solid; BACKGROUND: url(../images/quote-background-3.gif); BORDER-LEFT: #cfc 2px solid; BORDER-BOTTOM: #efe 1px solid
}
.jive-quote .jive-quote .jive-quote .jive-quote {
	BORDER-RIGHT: #fee 1px solid; BORDER-TOP: #fee 1px solid; BACKGROUND: url(../images/quote-background-4.gif); BORDER-LEFT: #fcc 2px solid; BORDER-BOTTOM: #fee 1px solid
}
.jive-settings .jive-table TH {
	TEXT-ALIGN: left
}
.jive-watchlist .jive-table TH {
	TEXT-ALIGN: left
}
.jive-settings .jive-table .jive-label {
	WIDTH: 30%
}
.jive-watchlist .jive-watchlist-internal {
	WIDTH: 100%
}
.jive-watchlist .jive-watchlist-internal TH {
	BORDER-RIGHT: #cccccc 0px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; COLOR: #000; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #eee
}
.jive-watchlist .jive-watchlist-internal .cn {
	BORDER-RIGHT: #cccccc 1px solid
}
.jive-watchlist .jive-watchlist-internal .c1 {
	BORDER-LEFT: #cccccc 1px solid
}
.jive-watchlist .jive-watchlist-internal TBODY TR {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 0px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 0px solid; BACKGROUND-COLOR: #eee
}
.jive-watchlist .jive-watchlist-internal .jive-odd {
	BACKGROUND-COLOR: #fff
}
.jive-watchlist .jive-watchlist-internal .jive-even {
	BACKGROUND-COLOR: #fff
}
.jive-watchlist .jive-watchlist-internal TBODY TD {
	BORDER-BOTTOM: #cccccc 1px solid
}
.jive-watchlist .jive-watchlist-internal TFOOT TD {
	BACKGROUND-COLOR: #fff
}
.jive-watchlist .jive-watch-message {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
#jive-pmpage .jive-info-message {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
#jive-pmpage .jive-mark-buttons INPUT {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Tahoma
}
#jive-pmpage .jive-mark-buttons SELECT {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Tahoma
}
#jive-pmpage .jive-jump-box SELECT {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Tahoma
}
#jive-pmpage .jive-pm-msg-row TD {
	BORDER-BOTTOM: #cccccc 1px solid
}
#jive-pmpage .jive-pm-msg-row-sel TD {
	BORDER-BOTTOM: #999 1px solid; BACKGROUND-COLOR: #ffffcc
}
#jive-pm-folder-box TH {
	FONT-SIZE: 9pt; FONT-FAMILY: verdana
}
#jive-pm-folder-box TD {
	FONT-SIZE: 9pt; FONT-FAMILY: verdana
}
#jive-pm-folder-box {
	MARGIN-RIGHT: 8px
}
#jive-pm-folder-box TABLE {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
#jive-pm-folder-box TH {
	FONT-WEIGHT: bold; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #eeeeee; TEXT-ALIGN: left
}
#jive-pm-folder-box .jive-pm-folder-total TD {
	BORDER-TOP: #cccccc 1px solid
}
.jive-pm-folder-warn {
	FONT-WEIGHT: bold; COLOR: #c30
}
.jive-pm-folder-bar {
	BORDER-RIGHT: #666 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #666 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #666 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #666 1px solid
}
.jive-pm-folder-bar TABLE {
	BORDER-RIGHT: #666 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #666 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #666 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #666 1px solid
}
#jive-pmpage .jive-pm-list TFOOT {
	BORDER-TOP: #cccccc 1px solid
}
#jive-pmpage .jive-pm-list TFOOT TD {
	BACKGROUND-COLOR: #dddddd
}
#jive-pmpage .jive-table .jive-paginator A {
	BORDER-RIGHT: #eee 1px solid; BORDER-TOP: #eee 1px solid; BORDER-LEFT: #eee 1px solid; BORDER-BOTTOM: #eee 1px solid
}
#jive-pmpage .jive-table .jive-paginator A:hover {
	BORDER-RIGHT: #336699 1px solid; BORDER-TOP: #336699 1px solid; BORDER-LEFT: #336699 1px solid; COLOR: #000; BORDER-BOTTOM: #336699 1px solid; BACKGROUND-COLOR: #ffc
}
#jive-pmpage .jive-table .jive-paginator .jive-current {
	BORDER-RIGHT: #666 1px solid; BORDER-TOP: #666 1px solid; BORDER-LEFT: #666 1px solid; COLOR: #000; BORDER-BOTTOM: #666 1px solid; BACKGROUND-COLOR: #eee
}
#jive-folder-form {
	MARGIN-RIGHT: 10px
}
#jive-folder-form TABLE {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
#jive-folder-form TD {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Tahoma
}
#jive-folder-form TH {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Tahoma
}
#jive-folder-form INPUT {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Tahoma
}
#jive-folder-list INPUT {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Tahoma
}
#jive-folder-form TH {
	COLOR: #000000; BACKGROUND-COLOR: #eeeeee; TEXT-ALIGN: left
}
#jive-folder-list TABLE {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
#jive-folder-list TH {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Tahoma
}
#jive-folder-list TD {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Tahoma
}
#jive-folder-list TH {
	COLOR: #000000; BACKGROUND-COLOR: #eeeeee; TEXT-ALIGN: left
}
#jive-folder-list TD {
	BORDER-TOP: #cccccc 1px solid
}
.jive-pm-box .jive-table .jive-body {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; PADDING-BOTTOM: 12px; PADDING-TOP: 12px
}
.jive-pm-box .jive-table .jive-label {
	WIDTH: 75px; WHITE-SPACE: nowrap
}
.jive-pm-box .jive-table THEAD TH {
	TEXT-ALIGN: left
}
#jive-pmviewpage .jive-nextprev {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Tahoma; TEXT-ALIGN: right
}
.jive-question-table THEAD TH {
	FONT-SIZE: 11pt; BORDER-BOTTOM: #cccccc 1px solid; TEXT-ALIGN: left
}
.jive-question-table THEAD TH .paginator {
	PADDING-LEFT: 2em; FONT-WEIGHT: normal; FONT-SIZE: 11px; FONT-FAMILY: Arial, Tahoma; WHITE-SPACE: nowrap
}
.jive-question-table .jive-thread-name A {
	FONT-WEIGHT: bold
}
#jive-profilepage .jive-recent-msg .jive-thread-name A {
	FONT-WEIGHT: bold
}
.jive-question-table .info {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Tahoma
}
#jive-profilepage .jive-recent-msg .info {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Tahoma
}
.jive-question-table .info {
	PADDING-BOTTOM: 0.5em
}
#jive-profilepage .jive-recent-msg .info {
	PADDING-BOTTOM: 0.5em
}
.jive-question-table .info A {
	COLOR: #666; WHITE-SPACE: nowrap
}
#jive-profilepage .jive-recent-msg .info A {
	COLOR: #666; WHITE-SPACE: nowrap
}
.jive-announce-description {
	COLOR: #666
}
.jive-announce .jive-announce-edit {
	FONT-SIZE: 11px; FLOAT: right; FONT-FAMILY: Arial, Tahoma
}
.jive-timer {
	FONT-SIZE: 11px; COLOR: #999; FONT-FAMILY: Arial, Tahoma; TEXT-ALIGN: center
}
.jive-error-box {
	BORDER-RIGHT: #f00 1px solid; PADDING-RIGHT: 6px; BACKGROUND-POSITION: 6px 6px; BORDER-TOP: #f00 1px solid; PADDING-LEFT: 30px; BACKGROUND-IMAGE: url(/images/error-16x16.gif); MARGIN-BOTTOM: 1em; PADDING-BOTTOM: 6px; BORDER-LEFT: #f00 1px solid; PADDING-TOP: 6px; BORDER-BOTTOM: #f00 1px solid; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #fee; moz-border-radius: 3px
}
.jive-info-box {
	BORDER-RIGHT: #00f 1px solid; PADDING-RIGHT: 6px; BACKGROUND-POSITION: 6px 6px; BORDER-TOP: #00f 1px solid; PADDING-LEFT: 30px; BACKGROUND-IMAGE: url(/images/info-16x16.gif); MARGIN-BOTTOM: 1em; PADDING-BOTTOM: 6px; BORDER-LEFT: #00f 1px solid; PADDING-TOP: 6px; BORDER-BOTTOM: #00f 1px solid; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #eef; moz-border-radius: 3px
}
.jive-success-box {
	BORDER-RIGHT: #0f0 1px solid; PADDING-RIGHT: 6px; BACKGROUND-POSITION: 6px 6px; BORDER-TOP: #0f0 1px solid; PADDING-LEFT: 30px; BACKGROUND-IMAGE: url(/images/success-16x16.gif); MARGIN-BOTTOM: 1em; PADDING-BOTTOM: 6px; BORDER-LEFT: #0f0 1px solid; PADDING-TOP: 6px; BORDER-BOTTOM: #0f0 1px solid; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #efe; moz-border-radius: 3px
}
.jive-settings-form .jive-table THEAD TH {
	BORDER-LEFT: #cccccc 1px solid; TEXT-ALIGN: left
}
.jive-settings-form .jive-table TD {
	BORDER-LEFT: #cccccc 1px solid; TEXT-ALIGN: left
}
.jive-settings-form TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.jive-skill-table TD {
	BORDER-LEFT: 0px
}
.jive-skill-row TD {
	BORDER-BOTTOM: #ccc 1px dotted
}
.jive-skill-legend UL {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px; LIST-STYLE-TYPE: none
}
.jive-skill-legend LI {
	PADDING-BOTTOM: 0.5em
}
.errorLabel {
	FONT-WEIGHT: bold; COLOR: #f00
}
.errorMessage {
	FONT-WEIGHT: bold; COLOR: #f00
}
.checkboxErrorLabel {
	COLOR: #f00
}
.required {
	COLOR: #f00
}
.jive-profile-box {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #eeeeee
}
.jive-profile-box THEAD TH {
	FONT-WEIGHT: bold; FONT-SIZE: 10.5pt; BACKGROUND-COLOR: #cccccc; TEXT-ALIGN: left
}
.jive-profile-box THEAD TR {
	BACKGROUND-COLOR: #cccccc
}
.jive-profile-table {
	BORDER-RIGHT: #fff 0px; BORDER-TOP: #fff 0px; MARGIN-BOTTOM: 1em; BORDER-LEFT: #fff 0px; BORDER-BOTTOM: #fff 0px
}
.jive-profile-table THEAD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.jive-profile-table THEAD TH {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; FONT-FAMILY: Arial, Tahoma
}
.jive-profile-table TBODY TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; FONT-FAMILY: Arial, Tahoma
}
.jive-profile-table THEAD TH {
	FONT-WEIGHT: bold; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #eeeeee; TEXT-ALIGN: left
}
.jive-profile-table TBODY TD {
	VERTICAL-ALIGN: top
}
.jive-profile-table-title {
	FONT-WEIGHT: bold; FONT-SIZE: 10.5pt; TEXT-ALIGN: left
}
TR.selectedControlPanel {
	COLOR: #ffffff; BACKGROUND-COLOR: #eeeeee
}
#jive-modpage .jive-info-message {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
#jive-modpage .jive-mark-buttons INPUT {
	FONT-SIZE: 9pt; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
#jive-modpage .jive-mark-buttons SELECT {
	FONT-SIZE: 9pt; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
#jive-modpage .jive-jump-box SELECT {
	FONT-SIZE: 9pt; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
#jive-modpage .jive-mod-msg-row TD {
	BORDER-BOTTOM: #ccc 1px solid
}
#jive-modpage .jive-mod-msg-row-app TD {
	BORDER-BOTTOM: #999 1px solid; BACKGROUND-COLOR: #cfc
}
#jive-modpage .jive-mod-msg-row-rej TD {
	BORDER-BOTTOM: #999 1px solid; BACKGROUND-COLOR: #fcc
}
#jive-mod-forum-box TH {
	FONT-SIZE: 9pt; FONT-FAMILY: verdana
}
#jive-mod-forum-box TD {
	FONT-SIZE: 9pt; FONT-FAMILY: verdana
}
#jive-mod-forum-box {
	MARGIN-RIGHT: 8px
}
#jive-mod-forum-box TABLE {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
#jive-mod-forum-box TH {
	FONT-WEIGHT: bold; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: #eee; TEXT-ALIGN: left
}
#jive-mod-forum-box .jive-mod-forum-all TD {
	BORDER-TOP: #ccc 1px solid
}
#jive-mod-forum-box LABEL {
	FONT-SIZE: 9pt; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
#jive-mod-forum-box INPUT {
	FONT-SIZE: 9pt; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
#jive-mod-forum-box SELECT {
	FONT-SIZE: 9pt; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.jivetabs {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 0px; FLOAT: left; BACKGROUND-IMAGE: url(/images/tabs/tabs_bg.gif); PADDING-BOTTOM: 0px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 100%; LINE-HEIGHT: normal; PADDING-TOP: 5px; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #eee
}
.jivetabs UL {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 10px; BORDER-TOP: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; LIST-STYLE-TYPE: none
}
.jivetabs LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; BACKGROUND: url(/images/tabs/tab_bg.gif) no-repeat left top; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 2px 0px 0px; LINE-HEIGHT: 18px; PADDING-TOP: 0px
}
.jivetabs LI.current {
	BACKGROUND: url(/images/tabs/tab_sel_bg.gif) no-repeat left top; MARGIN-RIGHT: 2px
}
.jivetabs SPAN {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: url(/images/tabs/tab_end.gif) no-repeat right top; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.jivetabs DIV.jive-preferredlink {
	PADDING-RIGHT: 6px; DISPLAY: inline; FLOAT: right; VISIBILITY: hidden; WHITE-SPACE: nowrap
}
.jivetabs .current SPAN {
	BACKGROUND: url(/images/tabs/tab_sel_end.gif) no-repeat right top
}
.jivetabs A.jive-editor-tab {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial; TEXT-DECORATION: none
}
.jivetabs A:link {
	COLOR: black
}
.jivetabs A:visited {
	COLOR: black
}
.jivetabs A:hover {
	COLOR: black
}
.jivetabs A:hover {
	
}
.jivetabs .current {
	
}
.jivetabs .current A {
	
}
.jivetabs .current A:link {
	
}
.jivetabs .current A:visited {
	
}
DIV#autosave {
	DISPLAY: inline; PADDING-LEFT: 15px; FONT-SIZE: 12px; FLOAT: none; VISIBILITY: visible; WHITE-SPACE: nowrap
}
#progressBar {
	PADDING-TOP: 5px
}
#progressBarBox {
	BORDER-RIGHT: 1px inset; BORDER-TOP: 1px inset; BACKGROUND: #eee; BORDER-LEFT: 1px inset; WIDTH: 350px; BORDER-BOTTOM: 1px inset; HEIGHT: 20px
}
#progressBarBoxContent {
	BORDER-RIGHT: #444 1px solid; BACKGROUND: #69c; WIDTH: 0px; HEIGHT: 20px
}
.jive-spellchecker-menu {
	BORDER-RIGHT: threeddarkshadow 1px solid; BORDER-TOP: threedlightshadow 1px solid; BORDER-LEFT: threedlightshadow 1px solid; BORDER-BOTTOM: threeddarkshadow 1px solid; POSITION: absolute
}
.jive-spellchecker-menu .inner {
	BORDER-RIGHT: buttonshadow 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: buttonhighlight 1px solid; PADDING-LEFT: 2px; BACKGROUND: buttonface; PADDING-BOTTOM: 2px; BORDER-LEFT: buttonhighlight 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: buttonshadow 1px solid
}
.jive-spellchecker-menu A {
	PADDING-RIGHT: 5ex; DISPLAY: block; PADDING-LEFT: 3ex; PADDING-BOTTOM: 1px; FONT: menu; COLOR: menutext; PADDING-TOP: 1px; TEXT-DECORATION: none
}
.jive-spellchecker-menu A:hover {
	BACKGROUND: highlight; COLOR: highlighttext
}
.jive-spellchecker-menu .separator {
	BORDER-TOP: buttonshadow 1px solid; MARGIN: 2px; OVERFLOW: hidden; BORDER-BOTTOM: buttonhighlight 1px solid
}
#textEditor {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 1em; BORDER-LEFT: 0px; WIDTH: 100%; COLOR: windowtext; ; LINE-HEIGHT: expression('1.2em'); BORDER-BOTTOM: 0px; HEIGHT: 250px
}
.jive-spell-markupbox {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 1px; BORDER-TOP: 0px; DISPLAY: none; PADDING-LEFT: 1px; BACKGROUND: white; PADDING-BOTTOM: 1px; OVERFLOW: auto; BORDER-LEFT: 0px; COLOR: windowtext; ; LINE-HEIGHT: expression('1.2em'); PADDING-TOP: 1px; BORDER-BOTTOM: 0px; POSITION: absolute
}
.jive-editor-panel {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 100%; PADDING-TOP: 0px
}
#editor-tabs {
	DISPLAY: none; WIDTH: 100%; MARGIN-RIGHT: 2px
}
.jive-panel-wrapper DIV.panel {
	DISPLAY: none
}
.jive-panel-wrapper DIV.current {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: 0px; DISPLAY: block; OVERFLOW: visible; BORDER-LEFT: #cccccc 1px solid; WIDTH: 100%; BORDER-BOTTOM: #cccccc 1px solid
}
.jive-panel-wrapper {
	CLEAR: both; BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; WIDTH: 100%; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #eee
}
.jive-panel-wrapper #text-panel {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: 0px; MARGIN: 0px; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: 0px
}
.jive-panel-wrapper #text-panel .text-links {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc 1px solid; FONT-FAMILY: Verdana, Arial; BACKGROUND-COLOR: #eee
}
.jive-panel-wrapper #preview-panel {
	OVERFLOW: visible; BACKGROUND-COLOR: #fff
}
.jive-panel-wrapper #preview-panel .inner-panel {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 1em; PADDING-TOP: 1em
}
.jive-selbox {
	FONT-SIZE: 9pt; FONT-FAMILY: verdana
}
.jive-panel-wrapper #preview-panel {
	OVERFLOW: auto
}
TD.link_label {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; TEXT-ALIGN: left
}
.error_label {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; TEXT-ALIGN: left
}
TD.link_label {
	COLOR: #000
}
.error_label {
	COLOR: #f00; TEXT-ALIGN: center
}
.textareaResize {
	FLOAT: right; BACKGROUND-IMAGE: url(/images/resize-grabber.gif); WIDTH: 11px; CURSOR: se-resize; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
.textareaResizeBox {
	BORDER-RIGHT: gray 1px dotted; PADDING-RIGHT: 0px; BORDER-TOP: gray 1px dotted; DISPLAY: none; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: gray 1px dotted; WIDTH: 10px; PADDING-TOP: 0px; BORDER-BOTTOM: gray 1px dotted; HEIGHT: 10px
}
.jive-rss-cell {
	FLOAT: right
}
.jive-clearfix:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.jive-clearfix {
	DISPLAY: inline-block
}
 HTML .jive-clearfix {
	HEIGHT: 1%
}
.jive-clearfix {
	DISPLAY: block
}
