body{
	font-size:13px;
	color:#333333;
	background-color:#BED9EB; /*background-color:transparent;*/
}
td.close{
	background-image:url(../images/folder.gif); 
	background-repeat:no-repeat;
	width:15px;
}

td.open{
	background-image:url(../images/folderopen.gif); 
	background-repeat:no-repeat;
	width:15px;
}

div.over{
	background-color:#6699CC;
	cursor:pointer;
}

div.out{
	cursor:pointer;
}

div.nosee{
	display:none;
}

div.see{
	display:block;
}

div.main{
	height:25px;
	background-color:#0000FF; 
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#6699FF, endColorStr=#BED9EB, gradientType=1);
}

div.frame{
	cursor:pointer;
	border-top:1px solid #CCCCCC;
}